.banner {
    margin-bottom: 40px;
    padding-bottom: 50px;
    font-family:var(--font-inter);
    line-height: 200%;
    color: var(--color-charcoal);
    border-bottom: 1px solid var(--color-lighter-gray);
}
.bannerSubtitle {
    margin: 80px auto 40px;
    font-size: var(--font-size-h4);
    font-weight: 500;
}
.bannerItem, .bannerItemReverse {
    display: flex;
    gap: 40px;
}
.bannerItemReverse {
    flex-direction: row-reverse;
}
.bannerShare {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 80px;
}
.socialLink {
    display: flex;
    width: 22px;
    height: 22px;
    background-color: var(--color-light-gray);
    border-radius: 100px;
}
.socialIcon {
    margin-top: 5px;
    margin-left: 5px;
    width: 10px;
    height: 10px;
}